* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 210vh;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

body {
    line-height: 1.5;
    background: #000000;
}

.header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.207), rgba(0, 0, 0, 0.60)), url(../img/museumbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.headernav {
    max-width: 1170px;
    margin: auto;
    height: 80px;
}

.NavH1 {
    display: flex;
    justify-content: left;
    line-height: 80px;
    font-size: 20px;
    font-size: inline;
    padding-left: 1.9vw;
    color: white;
}

.NavUL {
    float: right;
    line-height: 1vw;
    margin-top: -2.5vw;
    margin-right: 1vw;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}

nav ul li a:hover {
    color: hwb(148 3% 43%);
}

.NXT {
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translate(0vh, 25vh);
}

.NXT h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 10px;
}

.NXT p {
    font-size: 18px;
    color: whitesmoke;
    line-height: 1.5;
    margin-bottom: 50px;
}

.NXT .btn {
    color: black;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
}

.NXT .btn:hover {
    background-color: hwb(148 3% 43%);
    transition: 0.5s ease;
}

.geschiedenis{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 5rem;
}

.geschiedenis-text h3{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    line-height: 1.2;
    margin-top: 80px;
}

.geschiedenis-text p{
    font-weight: 500;
    line-height: 20px;
    border-radius: 10px;
}


#foto1 {
    height: 40vb;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10vw;
    margin-top: 5vw;
}

#foto2 {
    height: 40vb;
    margin-left: 30vw;
    margin-top: 10vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#foto1,
#foto2:hover {
    opacity: 0.7;
}

.modal,
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption,
#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption,
#caption1 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.tijden {
    margin-top: 10vw;
    margin-left: 60vw;
    width: 100%;
    margin-top: -14vw;
    color: whitesmoke;
}

.tijden h2 {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 10px;
    color: whitesmoke;
}

.reviews{
    padding: 40px 0;
    text-align: center;
    color: whitesmoke;
    text-align: center;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border{
    width: 160px;
    height: 5px;
    background: hwb(148 3% 43%);
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    box-sizing: border-box;
    padding: 15px;
}

.review{
    background:  hwb(148 3% 43%);
    padding: 30px;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars{
    margin-bottom: 20px;
}

.reviews-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.checked {
    color: yellow;
}

.footer {
    background-color: (0 0% 100% / 0.958);
    padding: 30px 0;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 40px;
    bottom: 0;
    left: 0;
}

.footer-col h4 {
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: whitesmoke;
    height: 2px;
    box-sizing: border-box;
    width: 110px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: whitesmoke;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: hwb(148 3% 43%);
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: hwb(148 3% 43%);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #33cccc;
}

.rowr {
    display: flex;
    flex-wrap: wrap;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 50px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ffffffc5;
    border: 0;
    outline: none;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa {
    font-size: 18px;
    margin-right: 10px;
    color: white;
}

div ul {
    list-style: none;
}

@media screen and (max-width: 960px){
    .coll{
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width: 600px){
    .coll{
        flex: 100%;
        max-width: 100%;
    }
}