* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#section-a{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.207), rgba(0, 0, 0, 0.60)), url(../img/fotomuseumeen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

#foto1{
    height: 30vb;
    margin-left: 50vw;
    margin-top: 10vw;
}

#foto2{
    height: 30vb;
    margin-left: 20vw;
    margin-top: 10vw;
}

nav {
    height: 80px;
}

nav h1 {
    display: flex;
    justify-content: left;
    line-height: 80px;
    font-size: 20px;
    font-size: inline;
    padding-left: 1.9vw;
    color: white;
}

nav ul {
    float: right;
    line-height: 1vw;
    margin-top: -2.5vw;
    margin-right: 1vw;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}

.article {
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translate(0vh,25vh);
}

.article h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 10px;
}

.article p {
    font-size: 18px;
    color: whitesmoke;
    line-height: 1.5;
    margin-bottom: 50px;
}

.article .btn {
    color: black;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
}

.article .btn:hover {
    background-color: #016016;
    transition: 0.5s ease;
}

.geschiedenis {
    width: 25%;
    text-align: center;
    transform: translateX(25vw);    
    margin-top: -12.5vw;
}

.geschiedenis h1 {
    font-size: 25px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 10px;
}

.geschiedenis p {
    font-size: 18px;
    color: rgb(0, 0, 0);   
    line-height: 1.5;
}

.tijden {
    margin-top: 10vw;
    margin-left: 50vw;
    width: 100%;     
    margin-top: -14vw;
}

.tijden h2{
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px){
    
}

#section-d{
    margin-top: 10vw;
    margin-left: 25vw;
}

#Contact{
        margin-top: -4vw;
        margin-left: 40vw;
}